<div class="container dad">
  <div class="son-1"></div>
  <p class="son-text">
    <span class="son-span">Explore the world
      <i class="fa fa-bicycle" aria-hidden="true"></i>
      By Bike</span>
  </p>
</div>



<div class="content bg-blue">
    <h1 class="tab center bounds padding active"><span>Products</span></h1>
    <div class="bounds padding">


                <a href="products" class=""><img src="http://trek.scene7.com/is/image/TrekBicycleProducts/Isospeed_1-up_16x9-1?wid=1920&hei=1080&fmt=jpg&qlt=50,1&op_usm=0,0,0,0&iccEmbed=0&cache=on,on" />
							<div class="link-abs">
								<p class="link-col-text">View More...</p>
							</div>
				        </div>
			        </div>
			        <div class="column">
				        <div class="text">
					        <h2>BUY NOW...</h2>
					        <p><span class="text-smaller"></span></p>
				        </div>
			        </div>
		        </a>




	</div>
</div>
